[build]
  publish = "publish/wwwroot"
  command = "curl -sSL https://dot.net/v1/dotnet-install.sh | bash /dev/stdin --channel 9.0 && ~/.dotnet/dotnet publish -c Release -o publish"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
  force = false